*{
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    padding:0;
    width: 100%;
}

header{
    padding-bottom: 30px;
    height:100px;
    width: 100%;
    overflow: hidden;
    background-color: greenyellow;
}

header h1{
    text-align: center;
}

header p{
    padding-top: 15px;
}

nav{
    width: 20%;
    height: 785px;
    float:left;
    background-color: darkorange;
}

nav h2{
    padding:20px 0;
}

nav ul{
    padding-left:40px;
}

section{
    width: 80%;
    height:785px;
    float: left;
    background-color: cornflowerblue;
}

section h2{
    margin: 20px 0;
}

section p{
    font-size:17px;
}


table caption{
    font-size: 16px;
    margin-bottom: 15px;
}

table img{
    overflow:auto;
    height: 200px;
    width:110px;
    padding: 2px;
}

footer{
    background-color:plum;
    padding: 25px 0;
    clear: both;
}

footer a{
    font-size: 17px;
}

footer p{
    font-size: 17px;
    padding-top: 10px;
}