*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 250px;
    width: 100%;
}

.header{
    background-color: greenyellow;
    text-align: center
}

.header h1{
    padding-bottom: 10px;
}

.section{
    height: 300px;
    background-color: palevioletred;
    margin: 10px;
    padding-bottom: 15px;
}

.section form{
    padding-bottom: 15px;
}

.footer{
    background-color: plum;
    padding: 20px 0;
}